<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # 1. Base en la raíz (porque es un subdominio)
  RewriteBase /

  # 2. EXCEPCIÓN PARA LA API: Si la petición entra a la carpeta /api/
  # le decimos a Apache que no aplique las reglas de React y deje pasar el PHP
  RewriteCond %{REQUEST_URI} ^/api/ [NC]
  RewriteRule ^ - [L]

  # 3. REGLAS PARA REACT
  RewriteRule ^index\.html$ - [L]
  
  # Si el archivo o carpeta no existen físicamente...
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # ...redirigir todo al index.html de la raíz
  RewriteRule . /index.html [L]
</IfModule>

